/* Ajustements supplémentaires pour la barre de navigation */
.navbar{
background-color: transparent;
border-radius: 20px;
margin: 0 auto;
width: 100%;

box-shadow: 2px 2px 5px white;
}
.offcanvas{
  background-color: transparent;
  width: 150px;
}
 .nav-link{
  color: white;
  padding: 10px;
  position: relative;
}
 .nav-item:hover{
  color: #0F0620;
  background-color: white;
  border-radius: 5px;
  border:2px solid #0F0620;
}
.nav-item .active{
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 5px #0F0620;
  border: none;
}
header img{
  height: 40px;
}
/* background: linear-gradient(to bottom right, rgba(1, 0, 15,0.5) 0%, rgba(80, 12, 69,0.5) 50%, rgba(11, 1, 248,0.5) 100%);   */
#offcanvasNavbar{
  z-index: 1050;
}
/* Style pour le body */
body{
  background-image: url(images/YvUPGUK.jpeg);
  font-family: JetBrains Mono, monospace;
  place-items: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;    
}
/* Style pour le hero */
#hero{
  height: 80vh;
  margin-top: 20px;
}
#hero .container, #hero .container>div{
  height: 100%;
}

/* Effet de fon lors des chargement du contenu */

.fade-in {
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about img{
  height: 60vh;
  border-radius: 5px;
}

/* Style du contact */


#skills .progress-bar-custom{
  background-image: linear-gradient(to right, #0b01f8, #500c45,  #01000f);
}

@media (max-width: 992px) {
  main #projects{
    margin-top: 100px;
  }
  main #content{
    margin-top: 100px;
  }
}
#formations h1{
  font-size: 40px;
}
main{
  width: 100%;
  height: 100%;
}
.shake-bottom:hover {
	-webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

.anim {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}
.typing{
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
#hero .typing {
  width: 8ch;
  animation: typing 1s steps(8), blink .5s step-end infinite alternate;
}
#formations .typing{
  width: 14ch;
  animation: typing 1s steps(14), blink .5s step-end infinite alternate;
}
#skills .typing{
  width: 11ch;
  animation: typing 1s steps(11), blink .5s step-end infinite alternate;
}
#contact .typing{
  width: 7ch;
  animation: typing 1s steps(7), blink .5s step-end infinite alternate;
}
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}